<div class="body">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 my-auto">
                <mat-card>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Sign In</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                              <form [formGroup]="parentForm" (ngSubmit)="logUser(parentForm)">
                                    <mat-form-field class="example-full-width w-100">
                                      <input matInput placeholder="Email" formControlName="email">
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width w-100">
                                        <mat-label>Enter your password</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                      </mat-form-field>
                         
                                      <app-error-component [errorMsg]="errorMsg" *ngIf="formError"></app-error-component>

                                      <button  mat-raised-button color="primary">Login</button>
                                </form>
                               
                            </div>
                        </div>
            
                            <div class="row mt-5">
                                <div class="col-sm-12 d-flex justify-content-center">
                                    <span>Dont have an account?<i class="fas fa-user-plus fa-2x" (click)="navigateToRegister()"></i></span>
                                </div>
                            </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
  


</div>