
<div class="container h-100">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
           <h1>France</h1>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-5">
            <mat-card class="picturesCard">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title class="text-white">Trip Pictures</mat-card-title>
        
                </mat-card-header>
                <span class="text-white">Upload picture(s)</span>
                <mat-card-content>

            
               <app-upload-pictures></app-upload-pictures>


                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-sm-5">
            <mat-card class="placesCard">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Places Visited</mat-card-title>
    
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        
    </div>
</div>

