
      <mat-card class="text-white">
        <form [formGroup]="newTripInfo">
        <div class="container" >
          <div class="row mb-3">
            <div class="col-sm-12">
              <h5 class="text-center">
                New Trip 
              </h5>
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Trip Name</mat-label>
                    <input matInput formControlName="tripName">
                  </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Trip Description</mat-label>
                  <input matInput formControlName="tripDescription">
                </mat-form-field>
          </div>

        </div>

        <div class="row d-flex justify-content-center">
          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>Start date</mat-label>
              <input matInput  [matDatepicker]="Startpicker" formControlName="tripStartDate">
              <mat-datepicker-toggle matSuffix [for]="Startpicker"></mat-datepicker-toggle>
              <mat-datepicker #Startpicker ></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <mat-form-field appearance="fill" class="w-100" >
              <mat-label>End date</mat-label>
              <input matInput [matDatepicker]="Endpicker" formControlName="tripEndDate">
              <mat-datepicker-toggle matSuffix [for]="Endpicker"></mat-datepicker-toggle>
              <mat-datepicker #Endpicker ></mat-datepicker>
            </mat-form-field>
        </div>

      </div>


          <div class="row">
            <div class="col sm-12">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="text-white">Upload Trip Pictures</mat-card-title>
              
              </mat-card-header>
            </div>
          </div>
          <mat-card-content>
          <div class="row">
        
            <div class="col-sm-12">
              <div class="dropArea" uploadPictures (picturesDropped)="onFileDropped($event)">
                <input class="drop_file" type="file" #fileDropRef id="fileDropRef" multiple (change)="onFileDropped($event.target.files)" />
                <i class="fas fa-cloud-upload-alt fs-2x"></i>
                <h3>Drag and drop file here</h3>
                <h3>or</h3>
                <label for="fileDropRef">Browse for file</label>
            </div>
            </div>
          
          </div>
        
        
        <div class="row" *ngIf="pictures.length > 0">
          <div class="col-sm-12 d-flex flex-column">
        
            <div class="files-list" >
              <div class="single-file" *ngFor="let picture of pictures; let i =index">
                  <i class="far fa-file-pdf fa-2x"></i>
                <div class="info">
                  <h4 class="name">
                    {{picture?.name}}
                  </h4>
                  <p class="size">
                    {{picture?.size}}
                  </p>   
                </div>
                <i class="far fa-trash-alt" (click)="deleteDropPicture(i)"></i>
           
              </div>   
            </div>
        
            <div class="align-self-end">
              <button mat-raised-button (click)="beginUpload()">Upload pictures(s)</button>
            </div>
           
          </div>
        
        </div>
      </mat-card-content>
        </div>
        </form>
        </mat-card>
        
        



        <!-- <mat-card>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Trip Name</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Trip Description</mat-label>
                  <input matInput>
                </mat-form-field>
          </div>
            </div>
          </div>
        </mat-card> -->

      
    

