

<agm-map  [latitude]="initLat" [longitude]="initLng" [zoom]=3 (mapClick)="locationSelected($event)" (mapReady)="mapReady($event)"  >
   

            
        <div class="alert alert-danger w-50 text-center" role="alert" id="getError">
            <h5>Error!
            Unable to load pins. Please refresh app</h5>
        </div>


 


<agm-marker 
    *ngFor="let pin of pins;trackBy:trackByLatLng" 
    [latitude]="pin.lat" 
    [longitude]="pin.lng" 
    [iconUrl]='pin.hometown?{url: "../../assets/home-solid.svg", anchor:{x:25,y:40},  scaledSize: {
      width: 40,
      height: 60}}:""'
    (markerClick)="pinClicked(pin, $event)" >

    <agm-info-window #infoWindow *ngIf="!pin['hometown']" >
    
      <mat-list>
        <mat-list-item>
          <span>{{fullLocationName?fullLocationName:'Loading...'}}</span>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <button mat-button color="primary" (click)="setHome(pin.lat, pin.lng)" type="button">
            Set as Home <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button color="primary">See Details</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button color="primary" type="button" (click)="deletePin(pin, infoWindow)">Delete Pin</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </agm-info-window>

    <!-- hometown info window -->
<agm-info-window #hometownInfoWindow  *ngIf="pin['hometown']">
  <mat-list>
    <mat-list-item>
      {{fullLocationName?fullLocationName:'Loading...'}}
    </mat-list-item>
    <mat-divider></mat-divider>
 

  </mat-list>

</agm-info-window>

</agm-marker>


</agm-map>



