

<agm-map  [latitude]="initLat" [longitude]="initLng" [zoom]=3 (mapClick)="locationSelected($event)" (mapReady)="mapReady($event)" >
   

            
        <div class="alert alert-danger w-50 text-center" role="alert" id="getError">
            <h5>Error!
            Unable to load pins. Please refresh app</h5>
        </div>


 
    <button [disabled]="disableMap" mat-raised-button color="primary" type="button" id="savePins" (click)="savePins()">Save</button>
<agm-marker *ngFor="let pin of pins" 
    [latitude]="pin.lat" 
    [longitude]="pin.lng" 
    [openInfoWindow]='true'
    (markerClick)="pinClicked($event)" >

    <agm-info-window>
      <mat-list>
        <mat-list-item>
          <button mat-button color="primary" (click)="setHome(pin.lat, pin.lng)" type="button">
            Set as Home <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>

          </button>
          
        </mat-list-item>
        <mat-list-item>
          <button mat-button color="primary">See Details</button>
        </mat-list-item>
        <mat-divider></mat-divider>
     
  
      </mat-list>

    </agm-info-window>
</agm-marker>



<agm-marker 

    [latitude]="initLat" 
    [longitude]="initLng"
    [markerDraggable]="true"
    [openInfoWindow]='true'
    [iconUrl]='{url: "../../assets/home-solid.svg", anchor:{x:25,y:40},  scaledSize: {
      width: 40,
      height: 60}}'
    >

    <agm-info-window>
      <mat-list>
        <mat-list-item>
          HomeTown: Miami, Fl
        </mat-list-item>
        <mat-divider></mat-divider>
     
  
      </mat-list>

    </agm-info-window>
</agm-marker>






</agm-map>



