.body
{
    height: 100%;
}

.container
{
    height: 100%;
}

.row
{
    height: 100%;
}

.btnMarginLeft
{
    float: right;
}

i
{
    margin-left: 10px;
    cursor: pointer;
}

mat-card
{
    background-color: #FFD294
}

.enabledBtn
{
    background-color: #D4827B !important;
}

.disabledBtn
{
    background-color: gray !important;
}


